* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.4;
    color: #555;
    overflow-x: hidden;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background: #3f3f3f;
    color: #555;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid coral;
}

#navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar h2 a {
    color: #fff;
    text-decoration: none;
}

#navbar li a {
    text-decoration: none;
    color: #fff;
    padding: 1 rem;
    font-size: 1.3rem;
    margin: 0 0.5rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:hover {
    background-color: #555;
}

#about {
    padding: 5rem 0;
}

#about h2,
#services h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#about h3 {
    font-size: 2rem;
    margin-bottom: 5rem;
}

#about p.lead {
    margin-bottom: 10rem;
}

#about .about-content {
    display: flex;
}

#about .about-text,
#about .about-image {
    flex: 10;
}

#about .about-text {
    text-align: center;
}

#about .about-image img {
    display: block;
    margin-left: 40%;
    width: 50%;
    border-radius: 300%;
    margin-top: 50px;
}